body {
  font: 14px helvetica;
  text-align: center;
}
#container { width: 1000px; margin: auto; }
#mainbox, #hodobox { float: left; }
#hodobox { width: 300px; }
.result { clear: both; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x.axis path {  }
.y.axis path {  }
.axis { fill: #000; }
.y.axis { font-size: 13px; }
.y.axis.hght { font-size: 9px; fill: red;}
.x.axis { font-size: 13px; }
.y.axis.ticks text { display: none; }

#fileUpload {
  cursor: pointer;
}

textarea {
  width: 400px;
  height: 150px;
}

.temp {
  fill: none;
  stroke: red;
  stroke-width: 2px;
//  opacity: .3;
}
.dwpt {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}
.twc {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}
.tvc {
  fill: none;
  stroke: purple;
  stroke-width: 2px;
//  opacity: .5;
}
.parcel {
  fill: none;
  stroke: gray;
  stroke-width: 2px;
//  opacity: .5;
}
.parcelmix {
  fill: none;
  stroke: gray;
  stroke-width: 2px;
  opacity: .5;
}
.member   { stroke-width: 2.5px; opacity: 1.0;}
//.member   { stroke-width: 2.5px; opacity: 0.4;}
.parcel   { stroke-width: 2.5px; opacity: 1.0;}
.parcelmix   { stroke-width: 2.5px; opacity: 1.0; stroke-dasharray: 4; };
.mean     { stroke-width: 2.5px; }
.hodoline { stroke: #aaa; fill: none; opacity: 1.0; }
.hodoline.mean { stroke: #000; opacity: 1.0; stroke-width: 3.5px;}
.hododot {  stroke: #000; opacity: 0.8; }
.hododot.hgt0 { fill: gray;    }
.hododot.hgt1 { fill: #225ea8; }
.hododot.hgt3 { fill: #41b6c4; }
.hododot.hgt6 { fill: #a1dab4; }
.hododot.hgt9 { fill: #ffffcc; }

.gridline, .tempzero {
   stroke: #dfdfdf;
   stroke-width: 0.75px;
   fill: none;
}

.dendrite {
   stroke: #0055FF;;
   stroke-width: 1.5px;
   fill: #aaaaaa;
   opacity: .5;
   stroke-dasharray: 10,10;
}

.dryline {
   stroke: #FFC300;
   stroke-width: 0.75px;
   fill: none;
   opacity: .5;
}

.moistline {
   stroke: #33FFFF;
   stroke-width: 0.75px;
   fill: none;
   opacity: .5;
   stroke-dasharray: 15,15;
}

.mrline {
   stroke: #D1B687;
   stroke-width: 0.75px;
   fill: none;
   opacity: .5;
   stroke-dasharray: 20,20;
}

.tempzero { stroke: #aaa; stroke-width: 1.5px; }

.barline { stroke: #000; stroke-width: 0.5px; }
.rectline { fill: #000;}
.rectline2 { fill: #000; }
.wbz_rectline { fill: #00F; }
.frzl_rectline { fill: #33DDFF; }
.index { font-size: 13px; }
.header { font-weight: bold; font-size: 11px;}
.hodolabels { font-size: 9px; opacity: 0.5;}
.titleText { font-size: 14px; stroke: none; fill: black}
.lcltext, .lfctext, .eltext{ font-size: 11px; }
.lclmixtext, .lfcmixtext, .elmixtext{ font-size: 11px; }
.wbztext { font-size: 11px; color: blue; fill: blue; }
.frzltext { font-size: 11px; color: #33DDFF; fill: #33DDFF; }
.key { font-size: 10px; }

.windbarb { stroke: #000; }
.flag { fill: #000; }

.overlay {
  fill: none;
  pointer-events: all;
}

.focus.tmpc circle { fill: red;   stroke: none; }
.focus.tmpc { fill: red; }
.focus.dwpc circle { fill: green; stroke: none; }
.focus.dwpc { fill: green; }
.focus.twc circle { fill: blue; stroke: none; }
.focus.twc { fill: blue; stroke: none; }
.focus.tvc circle { fill: purple; stroke: none; }
.focus.tvc { fill: purple; stroke: none; }
.focus.parcel circle { fill: gray; stroke: none;}
.focus.parcel { fill: gray; stroke: none;}
.focus.parcelmix circle { fill: gray; stroke: none;}
.focus.parcelmix { fill: gray; stroke: none;}
.focus.windt circle { fill: black; stroke: none; }
.focus text { font-size: 12px;}

div.rollover { padding: 15px 5px 15px 5px; display: inline; cursor: pointer;}
div.rollover.selected { background-color: #EFEFEF; border-bottom: 2px solid gray;}
